{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Reddit</a></li>
  <li class="breadcrumb-item active">Account Details</li>
{% endblock %}

{% block content %}

{% if user == request.user %}

<p>FIRST NAME: {{user.first_name}}</p>
<p>LAST NAME: {{user.last_name}}</p>
<p>USERNAME: {{user.username}}</p>
<p>EMAIL: {{user.email}}</p>

<div class="mb-4">
  <a href="{% url 'account_update' user.username %}" class="btn btn-primary">Update account</a>
</div>

<div class="mb-4">
  <a href="{% url 'password_change'  %}" class="btn btn-primary">Change password</a>
</div>

{% else %}
You do not have access to this page
{% endif %}

{% endblock content %}