{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/sort.css' %}">
{% endblock %}


{% block title %}
  {{ subreddit.name }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Reddit</a></li>
  <li class="breadcrumb-item"><a href="{% url 'subreddits' %}">Subreddits</a></li>
  <li class="breadcrumb-item active">{{ subreddit.name }}</li>
{% endblock %}



{% block content %}

<div class="mb-4">
  <a href="{% url 'post_new' subreddit.name %}" class="btn btn-primary">New post</a>
</div>

<div id="post_table">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th><button class="sort" data-sort="vote">Vote</button></th>
        <th><button class="sort" data-sort="post">Post</button> <input class="search" placeholder="Search" /></th>
        <th><button class="sort" data-sort="starter">Starter</button></th>
        <th><button class="sort" data-sort="replies">Replies</button></th>
        <th><button class="sort" data-sort="views">Views</button></th>
        <th><button class="sort" data-sort="last_updated">Last Update</button></th>
      </tr>
    </thead>
    <tbody class="list">
      {% for post in subreddit.get_post_by_updated_by %}
        <tr>
          <td class="vote"> {{post.vote}}</td>
          <td><a class="post" href="{% url 'post_comments' subreddit.name post.pk %}">{{ post.subject }}</a></td>
          <td class="starter">{{ post.starter.username }}</td>
          <td class="replies">{{ post.comments.count}}</td>
          <td class="views">0</td>
          <td class="last_updated" data_last_updated="{{post.last_updated}}">{{ post.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<!--sort table using list.js-->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  var options = {
    valueNames: [ 'vote', 'post', 'starter', 'replies', 'views', { attr: 'data_last_updated', name: 'last_updated'} ]
  };

  var a = new List('post_table', options);
</script>

{% endblock %}
